AppBar {
  position: sticky !important;
  position: "-webkit-sticky";
  top: 0;
}
.navbar {
  background-color: #51065e !important;
}
.links {
  text-decoration: none;
  color: white;
  margin-right: 30px;
  font-size: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 7px;
}

.navbar a:hover {
  color: #95bcf0;
  border-top: 3px solid #95bcf0;
}
